.home {
    // display: block;

    .offer {
        margin-top: 50px;

        h2 {
            font-size: 37px;
            font-weight: 700;
        }
    }

    .search_box {
        margin-top: 40px;

        h3 {
            font-size: 30px;
            font-weight: 500;
        }


    }


}